/* header */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  padding: 1.2rem 0.5rem;
  /* margin-bottom: 2rem; */

  color: #fff;
  background-color: rgb(3, 0, 195);
}

header h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Tourney", cursive;

  padding-left: 1rem;
}

.main {
  padding: 1.5rem 0.4rem 0;
  display: flex;
  height: 100vh;
}
.main .container {
  margin: auto;
}
.container img {
  display: block;
  width: 80%;
  max-height: 40rem;
  margin: auto;
}
.container h2 {
  font-family: "Poppins", sans-serif;
  margin: 2.5rem 0;
  min-height: 28px;
  text-align: center;
  padding: 0.8rem 1rem;
  font-size: 1.8rem;
  background: black;
  color: #fff;
  border-radius: 40px;
}

/* footer */
footer {
  display: flex;
  padding: 1.5rem 0;
  background-color: #000;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
}
.footer {
  margin: auto;
}
.footer p {
  padding: 0.2rem;
}
